<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="__PACKAGE__"
    android:versionCode="__VERSION_CODE__"
    android:versionName="__VERSION_NAME__">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="34"/>

    <application
        android:label="__APP_NAME__"
        android:icon="@drawable/icon"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lumen.web.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
